@model WebApplication3.Models.Mesajlar

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1 class="display-4">Mesaj Gönder</h1>

<h4>Mesajlar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="AlıcıID">Alıcı Numarası</label>
                <select asp-for="AlıcıID" asp-items="ViewBag.Seçenekler">
                    <option value="">Alıcı Seç</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AlıcıName" class="control-label"></label>
                <input asp-for="AlıcıName" value="You" class="form-control" readonly/>
                <span asp-validation-for="AlıcıName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GönderenID" class="control-label"></label>
                <input asp-for="GönderenID" value="@ViewBag.id" class="form-control" readonly />
                <span asp-validation-for="GönderenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GönderenName" class="control-label"></label>
                <input asp-for="GönderenName" value="@ViewBag.Name" class="form-control" readonly />
                <span asp-validation-for="GönderenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesajİcerigi" class="control-label"></label>
                <input asp-for="Mesajİcerigi" class="form-control" />
                <span asp-validation-for="Mesajİcerigi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">Mesajlara Dön</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
