@model WebApplication3.Models.BeslenmePlanı

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BeslenmePlanı</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" value="@ViewBag.userid"class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MusteriID">Müşteri</label>
                <select asp-for="MusteriID" asp-items="ViewBag.Musteriler">
                    <option value="">Müşteri Seç</option>
                </select>
                <div class="form-group">
                    <label asp-for="Hedef" class="control-label"></label>
                    <select asp-for="Hedef" class="form-control">
                        <option value="Kilo alma">Kilo alma</option>
                        <option value="Kilo verme">Kilo verme</option>
                        <option value="Kas kütlesi kazanma">Kas kütlesi kazanma</option>
                        <option value="Kiloyu koruma">Kiloyu koruma</option>

                    </select>
            <div class="form-group">
                <label asp-for="GunlukBesin" class="control-label"></label>
                <input asp-for="GunlukBesin" class="form-control" />
                <span asp-validation-for="GunlukBesin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KaloriHedefi" class="control-label"></label>
                <input asp-for="KaloriHedefi" class="form-control" />
                <span asp-validation-for="KaloriHedefi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
